* {
    font-family: monospace;
    font-size: 15px;
}

a {
    text-decoration-line: none;
    -moz-text-decoration-line: none;
}

a:visited {
    color: #008;
}

span.hw_s {
    display: inline;
    width:0px;
    height:0px;
}

div.hw {
    position:relative;
    display: none;
}
/*
span.hw:hover > span.hw_s > div.hw {
    display: inline;
}*/